





<div class="app_account_wrapper">
  <div class="inner_wrapper">
      <div class=flex-col-row>
          <div class="col-left">
              <div class="form_wrapper">
                  <figure class="log_wraper">
                      <img src="assets/images/ai-logo.png">
                  </figure>
                  <router-outlet></router-outlet>

              </div>
          
          </div>
          <div class="col-right">

            
            <figure class="img_wrapper">
                <img src="assets/images/parking2.jpg">
            </figure>
          </div>
      </div>
  </div>
</div>