<h1 class="form_heading">Forgot Password</h1>
<p class="form-para">
  {{title}}
</p>
<form [formGroup]="forgotForm" (ngSubmit)="validateEmail()">
  <div >
    <mat-form-field appearance="outline">
      <mat-label>Enter Email Id</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error>
        {{getControl('email')|validate:'Email'}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="text-right">
    <a class="form-text small text-muted" [routerLink]="'LOGIN'|absolutePath">Back</a>
  </div>
  <div class="text-center" style="margin-top: 2px;">
    <button class="btn btn-lg btn-block btn-primary mb-3">Submit</button>
  </div>
</form>