<div class="custom_container">
    <div class="white_wrapper">
        <h2 class="heading">{{'Change Password'}}</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="form_wrapper">
                <div class="flex_row">
                    <div class="flex_col_sm_5">
                        <div class="form_filed_wrapper">
                            <mat-form-field appearance="outline">
                                <mat-label>Current Password</mat-label>
                                <input matInput formControlName="oldPassword" placeholder="Old Password" [type]="hidePassword ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">
                                    {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>{{getControl('oldPassword')|validate:'Old password'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex_row">
                    <div class="flex_col_sm_5">
                        <div class="form_filed_wrapper">
                            <mat-form-field appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input matInput formControlName="password" placeholder="New Password" [type]="hideNewPassword ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword" style="cursor: pointer">
                                    {{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>{{getControl('password')|validate:'New password'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex_row">
                    <div class="flex_col_sm_5">
                        <div class="form_filed_wrapper">
                            <mat-form-field appearance="outline">
                                <mat-label>Confirm New Password</mat-label>
                                <input matInput formControlName="confirmPassword" placeholder="Confirm Password" [type]="hideConfirmPassword ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" style="cursor: pointer">
                                    {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>{{getControl('confirmPassword')|validate:'Confirm password'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex_row">
                    <div class="flex_col_sm_10">
                        <div class="form_filed_wrapper text-center">

                            <ul class="btn_wrapper">
                                <li> <button mat-raised-button type="button" [routerLink]="'DASHBOARD'|absolutePath">Cancel</button>
                                </li>
                                <li> <button mat-raised-button color="primary">{{'Save'}}</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
