  .form_filed_wrapper_details {
      margin: 0 0 40px;
  }

  .flex_row {
      display: flex;
      margin: 0 -10px;
      align-items: center;
  }

  .breadcrumb {
      width: 100%;
      padding: 5px 15px;
      li {
          display: inline-block;
          a {
              color: #006CB8;
              text-decoration: none;
              cursor: pointer;
              font-size: 14px;
              font-weight: 400;
              outline: none;
              &:before {
                  padding: 0 5px;
                  color: #B7BEC1;
                  content: "/ ";
              }
              &:after {
                  content: "/\00a0";
                  padding: 0 2px;
                  color: #A2ABAE;
              }
              &.active {
                  color: rgb(38, 44, 45);
                  cursor: default;
                  &:after {
                      display: none;
                  }
              }
          }
          &:first-child {
              a {
                  &:before,
                  &:after {
                      display: none;
                  }
              }
          }
      }
  }

  .permission{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    span{
        margin: 0 0 15px 0;
        width:50%;
    }
  }
  button.mat-raised-button{
      box-shadow:none !important;
      border: 1px solid #0069FF !important;
      min-width:104px !important;
  }