<h1 class="form_heading">Reset Password</h1>
<form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
  <div class="form_filed_wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Enter New Password</mat-label>
      <input matInput required [type]="passwordHide ? 'password'  :  'text'" formControlName="password">
      <mat-icon matSuffix (click)="passwordHide= !passwordHide">
        {{passwordHide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error>
        {{getControl('password')|validate:'Password'}}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form_filed_wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Enter Confirm Password</mat-label>
      <input matInput required [type]="confirmPasswordHide ? 'password' :'text'" formControlName="confirmPassword">
      <mat-icon matSuffix (click)="confirmPasswordHide= !confirmPasswordHide">
        {{confirmPasswordHide ?'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error>
        {{getControl('confirmPassword')|validate:'Confirm password'}}
      </mat-error>
    </mat-form-field>
  </div>


  <div class="form_filed_wrapper text-center">
    <button mat-raised-button color="primary">Submit</button>
  </div>
</form>