<!-- <div class="parentWrapper">
    <div class="white_wrapper">
        <div class="flex_row">
            <div class="flex_col_sm_5 rowFilterBox">
                        <app-search-filter [placeholder]="'Search by name, email'" (setSearch)="setSearch($event)">
                        </app-search-filter>
                        <ul class="archieveData">
                            <li [routerLink]="'SUBADMIN_ARCHIVE' | absolutePath">
                            <a>Archived</a>
                            </li>
                        </ul>
                
            </div>
            
            <div class="flex_col_sm_7">
                <ul class="btn_wrapper text-right">
                    <li>
                        <div class="btn filter-count">Total number of subadmin : <span>{{total || 0}}</span> </div>
                    </li>
                    <li>
                        <app-filter-count [filterCount]="appliedFilterCount"></app-filter-count>
                    </li>
                    <li> <button mat-raised-button (click)="showFilter=!showFilter" class="action_menu">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button> </li>
                    <li> <button mat-raised-button class="action_menu" [routerLink]="'SUBADMIN_ADD'|absolutePath" routerLinkActive="active">
                            <mat-icon>add</mat-icon> Add New Sub Admin
                        </button> </li>
                    
                </ul>
            </div>
        </div>
        <div class="flex_row">
            <ul class="breadcrumb">
                <li>
                    <a href="javascript:void(0)">Sub Admin</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="active">List</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="white_wrapper filter_wrapper" [class.filter_wrapper_show]="showFilter">
        <div class="flex_row">
            <div class="flex_col_sm_6">
                <app-date-filter [dateObject]="filterObject.registrationDate">
                </app-date-filter>
            </div>
            <div class="flex_col_sm_3">
                <app-dropdown-filter [dropdown]="filterObject.status"></app-dropdown-filter>
            </div>
            <div class="flex_col_sm_3">
                <app-dropdown-filter [dropdown]="filterObject.compLocationName"></app-dropdown-filter>
            </div>

        </div>
        <div class="flex_row">
            <div class="flex_col_sm_10 text-center">

                <ul class="btn_wrapper">
                    <li> <button filter_btn mat-stroked-button [disabled]="disable()" (click)="resetFilter()">
                            Reset
                        </button>
                    </li>
                    <li>
                        <button filter_btn mat-raised-button color="primary" [disabled]="disable()" (click)="filter()">
                            Filter
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="white_wrapper">
        <table mat-table [dataSource]="subAdmins" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> S.No. </th>
                <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Full Name </th>
                <td mat-cell *matCellDef="let element"><span [routerLink]="['SUBADMIN_DETAIL'|absolutePath,element._id]" class="view_details td-text-wrap">{{element.name |checkNull}}</span> </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email ID </th>
                <td mat-cell *matCellDef="let element"> {{element.email |checkNull}} </td>
            </ng-container>

            <ng-container matColumnDef="companyLocationName">
                <th mat-header-cell *matHeaderCellDef>Company Location</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.companyLocationName | checkNull }}
                </td>
              </ng-container>

            <ng-container matColumnDef="registeredon">
                <th mat-header-cell *matHeaderCellDef>
                    <span [ngClass]="((isFilterApplied) && (filterForm.value.fromDate || filterForm.value.toDate))?'appliedFilter':''">Created
                        On </span>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.created |customDate |checkNull}} </td>
            </ng-container>

            <ng-container matColumnDef="roles">
                <th mat-header-cell *matHeaderCellDef> Number of roles </th>
                <td mat-cell *matCellDef="let element"> {{element.totalCount || 0}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>
                    <span [ngClass]="((isFilterApplied) && (filterForm.value.status))?'appliedFilter':''">Status
                    </span>
                </th>
                <td mat-cell *matCellDef="let element">{{element?.status |status|titlecase|checkNull}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button [matMenuTriggerFor]="menu" class="btn-more-menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="changeStatus('deleted',element._id)">
                            <mat-icon matTooltip="Delete">delete</mat-icon> Archive
                        </button>
                        <button mat-menu-item [routerLink]="['SUBADMIN_EDIT'|absolutePath,element._id]">
                            <mat-icon matTooltip="Edit">edit</mat-icon> Edit
                        </button>
                        <button mat-menu-item [ngClass]="element.status==='blocked'?'ban':'noban'" (click)="changeStatus((element.status==='blocked'?'unblocked':'blocked'),element._id)">
                            <mat-icon matTooltip="{{element.status==='blocked'?'Unblock':'Block'}}">
                                {{element.status==='blocked'?'block':'block'}}</mat-icon>
                            {{element.status==='blocked'?'Un-Block':'Block'}}
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="white_wrapper" *ngIf="total===0">
        <h2 class="not-found">No Data Found</h2>
    </div>
    <div class="white_wrapper" *ngIf="subAdmins.data.length">
        <mat-paginator [length]="total" [pageIndex]="page-1" [pageSize]="pageSize" [pageSizeOptions]="pageOptions" (page)="changePage($event)">
        </mat-paginator>
    </div>
</div> -->
<div class="main-content complete-align">
    <div class="row">
        <div class="col-12 col-lg-6 col-xl">
          <ul class="breadcrumb">
            <li>
              <a href="#/admin/dashboard">Home</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="active">Sub Admin</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="active">List</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 5px">
        <div class="col-12 col-lg-6 col-xl">
            <label  style="font-size: 25px !important;font-weight: 100 !important;">
              Sub Admin
            </label>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-3" >
              <li>
                <button mat-raised-button [routerLink]="'SUBADMIN_ADD' | absolutePath" class="action_menu">
                  Add Sub Admin
                </button>
              </li>
            </div>
            <div class="col-12 col-lg-6 col-xl-3" style="margin-left: 10px;" >
              <li>
                <button mat-raised-button [routerLink]="'SUBADMIN_ARCHIVE' | absolutePath" class="action_menu">
                  Archived
                </button>
              </li>
            </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-12 col-lg-6 col-xl">
    
          <div _ngcontent-vmx-c9="" class="white-card" style="padding-top: 2%;">
            <div class="row">
              <div class="col-12 col-lg-6 col-xl-3">
                <app-date-filter [dateObject]="filterObject.registrationDate">
                </app-date-filter>
              </div>
              <div class="col-12 col-lg-6 col-xl-2">
                <app-dropdown-filter [dropdown]="filterObject.status"></app-dropdown-filter>
              </div>
              <div class="col-12 col-lg-6 col-xl-2">
                <app-dropdown-filter [dropdown]="filterObject.compLocationName"></app-dropdown-filter>
              </div>
              <div  class="col-12 col-lg-6 col-xl-1">
                <button style="margin-left: 15%;" filter_btn mat-stroked-button [disabled]="disable()" (click)="resetFilter()">
                  Reset
                </button>
              </div>
              <div  class="col-12 col-lg-6 col-xl-1">
                <button filter_btn mat-raised-button color="primary" [disabled]="disable()" (click)="filter()">
                  Filter
                </button>
              </div>
              <div class="col-12 col-lg-6 col-xl-3">
                <div _ngcontent-vmx-c9="" class="table_search" style=" padding-right: 4%">
                  <div _ngcontent-vmx-c9="" class="table_search-box" >
                    <input _ngcontent-vmx-c9="" class="table_search-input" id="workersearch" #searchInput (keyup)="setSearch(searchInput.value)"  placeholder="Search" type="text">
                    <img _ngcontent-vmx-c9="" alt="search" class="table_search-icon" src="assets/images/search-24.png">
                  </div>   
                </div> 
              </div>
    
            </div>
            <table mat-table [dataSource]="subAdmins" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element;let i=index"> {{getSerialNumber(i+1)}}</td>
                </ng-container>
    
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> NAME </th>
                    <td mat-cell *matCellDef="let element"><span [routerLink]="['SUBADMIN_DETAIL'|absolutePath,element._id]" class="view_details td-text-wrap">{{element.name |checkNull}}</span> </td>
                </ng-container>
    
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> EMAIL </th>
                    <td mat-cell *matCellDef="let element"> {{element.email |checkNull}} </td>
                </ng-container>
    
                <ng-container matColumnDef="companyLocationName">
                    <th mat-header-cell *matHeaderCellDef>COMPANY LOCATION</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.companyLocationName | checkNull }}
                    </td>
                  </ng-container>
    
                <ng-container matColumnDef="registeredon">
                    <th mat-header-cell *matHeaderCellDef>
                        <span style="font-size: 10px !important;" [ngClass]="((isFilterApplied) && (filterForm.value.fromDate || filterForm.value.toDate))?'appliedFilter':''">REGISTRATION DATE
                             </span>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.created |customDate |checkNull}} </td>
                </ng-container>
    
                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef> ROLES </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalCount || 0}} </td>
                </ng-container>
    
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                        <span style="font-size: 10px !important;" [ngClass]="((isFilterApplied) && (filterForm.value.status))?'appliedFilter':''">STATUS
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let element">{{element?.status |status|titlecase|checkNull}}</td>
                </ng-container>
    
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> ACTION </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button [matMenuTriggerFor]="menu" class="btn-more-menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="changeStatus('deleted',element._id)">
                                <mat-icon matTooltip="Delete">delete</mat-icon> Archive
                            </button>
                            <button mat-menu-item [routerLink]="['SUBADMIN_EDIT'|absolutePath,element._id]">
                                <mat-icon matTooltip="Edit">edit</mat-icon> Edit
                            </button>
                            <button mat-menu-item [ngClass]="element.status==='blocked'?'ban':'noban'" (click)="changeStatus((element.status==='blocked'?'unblocked':'blocked'),element._id)">
                                <mat-icon matTooltip="{{element.status==='blocked'?'Unblock':'Block'}}">
                                    {{element.status==='blocked'?'block':'block'}}</mat-icon>
                                {{element.status==='blocked'?'Un-Block':'Block'}}
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
      
        <div class="white_wrapper" *ngIf="total === 0">
          <h2 class="not-found">No Employee Found</h2>
        </div>
        <div class="white_wrapper" *ngIf="subAdmins.data.length">
          <mat-paginator [length]="total" [pageIndex]="page - 1" [pageSize]="pageSize" [pageSizeOptions]="pageOptions"
            (page)="changePage($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
</div>