<div class="custom_container">
    <div class="white_wrapper">
        <h2 class="heading" *ngIf="!notificationId">Add Notifications</h2>
        <h2 class="heading" *ngIf="notificationId">Edit Notifications</h2>
        <div class="flex_row">
            <ul class="breadcrumb">
                <li>
                    <a routerLink="/admin/notification/List">Web Notifications</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="active">Add</a>
                </li>
            </ul>
        </div>
        <form action="" [formGroup]="notificationForm" (ngSubmit)="submitForm()">
            <div class="form_wrapper">
                <div class="flex_row">
                    <div class="flex_col_sm_5">
                        <div class="form_filed_wrapper">
                            <mat-form-field appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput formControlName="title" appNospace>
                                <mat-error>{{getControl('title')|validate:'Title'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex_col_sm_5">
                        <div class="form_filed_wrapper">
                            <mat-form-field appearance="outline">
                                <mat-label>Audience</mat-label>
                                <mat-select formControlName="audience">
                                    <mat-option *ngFor="let item of notiAudience" [value]="item.value">
                                        {{item.viewValue}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>{{getControl('audience')|validate:'User'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex_row">
                    <div class="flex_col_sm_10">
                        <div class="form_filed_wrapper">
                            <mat-form-field appearance="outline">
                                <mat-label>Message</mat-label>
                                <textarea matInput placeholder="Message" formControlName="message"></textarea>
                                <mat-error>{{getControl('message')|validate:'Message'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex_row">
                    <div class="flex_col_sm_5">
                        <div class="form_filed_wrapper">
                            <label class="form_label">Schedule</label>
                            <mat-radio-group formControlName="scheduleType" (change)="checkSchedule($event.value)">
                                <mat-radio-button [checked]="schedule.checked" *ngFor="let schedule of notiSchedule" [value]="schedule.value">
                                    {{schedule?.viewValue}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="flex_col_sm_5" *ngIf="notificationForm.controls['scheduleType'].value==='sendLater'">
                        <div class="form_filed_wrapper">
                            <mat-form-field appearance="outline">
                                <mat-label>Select Later date and time</mat-label>
                                <input matInput readonly formControlName="scheduleTime" [min]="todayDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
                                <owl-date-time [pickerType]="'both'" [hour12Timer]="true" #dt2></owl-date-time>
                                <mat-error>{{getControl('scheduleTime')|validate:'Later Date and Time'}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <ul class="btn_wrapper">
                    <li> <button mat-raised-button type="button" [routerLink]="'WEBNOTIFICATION'|absolutePath">Cancel</button>
                    </li>
                    <li> <button mat-raised-button color="primary">{{notificationId?'Update':'Add'}}</button> </li>
                </ul>
            </div>
        </form>
    </div>
</div>
